.bgLight{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background: #E9EDF8;
    animation: bgLightSlid 4.2s ease-in 2.7s both;
    -webkit-animation: bgLightSlid 4.2s ease-in 2.7s both;
}
.gastFreundAds {
    position: relative;
    top: 55%;
    left: 40%;
    margin: auto;
    width: 80%;
    transform:translate(-50%, -50%) ;
    -webkit-transform:translate(-50%, -50%) ;
    -moz-transform:translate(-50%, -50%) ;
    -ms-transform:translate(-50%, -50%) ;
    -o-transform:translate(-50%, -50%) ;
}
.gastFreundAds img{
    display: block;
    width: 100%;
    height: 100%;
    animation: gastFreundeKey 4.7s both ;
    -webkit-animation: gastFreundeKey 4.7s both ;
}

img.fighterBox{
    position: absolute;
    bottom: -80%;
    left: 0;
    width: 102%;
    animation: fighterRight 5s ease-in 1.8s both;
    -webkit-animation: fighterRight 5s ease-in 1.8s both;
}
/*Jobs Kampagne Box*/
.jobskampagneBox{
    position: relative;
    top: -50px;
    width: 100%;
    height: 100vh;
    display: grid;
    overflow: hidden;
}

/*###########Job Angebot###################*/
.jobDesign{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:     "title"    "image01"    "descript";
    transform: translate(-100%,0);
    -webkit-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    -ms-transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
}
.titleBox{
    display: flex;
    justify-content: center;
  grid-area: title;
}
.image{
  grid-area: image01;
}
.descriptBox {
    position: relative;
    grid-area: descript;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .infoBox {
        width: 80%;
        margin: 40px auto 0 auto;
    }

    a {
        width: 100%;
    .infoButton {
        display: block;
        margin: 20px auto 0 auto;
        width: 56%;
        cursor: pointer;
    }
}
}
.shopJob{
    animation: shopJob-el-V 5s linear 7s both;
    -webkit-animation: shopJob-el-V 5s linear 7s both;
}
.gastroJob{
    animation: gastroJob-el-V 5s linear 12s both;
    -webkit-animation: gastroJob-el-V 5s linear 12s both;
}
.serviceJob{
    animation: serviceJob-el-V 5s linear 17s both;
    -webkit-animation: serviceJob-el-V 5s linear 17s both;
}
/*shop Job Artkel*/
.shopJob .descriptBox a .infoButton{
    animation: shopJobsSlidButton01 600ms ease-in 1.6s both;
    -webkit-animation: shopJobsSlidButton01 600ms ease-in 1.6s both;
}
/*#######################0#####
###########ende##############*/

/*gastro Job Artkel*/
.gastroJob .descriptBox a .infoButton{
    animation: shopJobsSlidButton02 600ms ease-in 7s both;
    -webkit-animation: shopJobsSlidButton02 600ms ease-in 7s both;
}
/*############################
###########ende##############*/
/*service Job Artkel*/

.serviceJob .descriptBox a .infoButton{
    animation: shopJobsSlidButton03 600ms ease-in 14s both;
    -webkit-animation: shopJobsSlidButton03 600ms ease-in 14s both;
}
/*############################
###########ende##############*/
/*##---------end--------##*/
.jobDesign .titleBox .beiunsBox{
    display: none;
}
.jobDesign .titleBox .beiunsBoxSmall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 100%;
    height: auto;
}
.jobDesign .image{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
}