@media screen and (min-width:320px) {
    .descriptBox{
        margin: -80px 0 0 0;
      }
}
@media screen and (min-width:768px) {
    .descriptBox{
        margin: 20px 0 0 0;
      }
}
@media (orientation: landscape) and (min-width:567px){
    /*Backgrounds--*/
    .bgLight{
    animation: bgLightSlid 2.4s ease-in 4s both;
    -webkit-animation: bgLightSlid 2.4s ease-in 4s both;
}
img.fighterBox{
    animation: fighterRight 7s ease-in 2.4s both;
    -webkit-animation: fighterRight 7s ease-in 2.4s both;
}
.headerBox img {
    display: block;
    height: 40px;
    padding: 10px 0;
}
.gastFreundAds {
    top: 55%;
    left: 30%;
    width: 60%;
}
.jobDesign {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "image01 title"
    "image01 descript"
    ;
    .titleBox {
        .beiunsBoxSmall {
            display: none;
        }
        .beiunsBox {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;
            margin: -80px auto 0 auto;
            width: 70%;
            height: auto;
        }
    }
    .image{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        object-fit: cover;
        margin-top: -10%;
    }
    .descriptBox {
        position: relative;
        grid-area: descript;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: -140px 0 0 0;
    
        .infoBox {
            width: 90%;
            margin: 50px auto;
        }
    
        a .infoButton {
            display: block;
            margin: -40px auto 0 auto;
            width: 220px;
            cursor: pointer;
        }
    }
}
}
@media (orientation: landscape) and (min-width:1022px) {
    /*Background*/
    .bgLight{
    animation: bgLightSlid 3.2s ease-in 3.2s both;
    -webkit-animation: bgLightSlid 3.2s ease-in 3.2s both;
}
img.fighterBox{
    animation: fighterRight 7s ease-in 1.8s both;
    -webkit-animation: fighterRight 7s ease-in 1.8s both;
}
  .headerBox img {
    display: block;
    height: 65px;
    padding: 10px 0;
}.gastFreundAds {
    top: 55%;
    left: 32%;
    width: 60%;
}

.jobDesign {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "image01 title"
    "image01 descript"
    ;
    .titleBox {
        .beiunsBoxSmall {
            display: none;
        }
        .beiunsBox {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin: 100px auto 0 auto;
            width: 70%;
            height: auto;
        }
    }
    .image{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 70%;
        object-fit: cover;
        margin-top: 30%;
    }
}

}