html,
body {
  margin: 0;
  padding: 0;
  background: #003063;
  width: 100%;
  height: 100%;
}

.werbeWrapper {
  position: relative;
  left: 0;
  right: 0;
  height: 100dvh;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.headerBox {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.headerBox img {
  display: block;
  height: 60px;
  padding: 10px 0;
}

.bgLight {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: #E9EDF8;
  animation: bgLightSlid 4.2s ease-in 2.7s both;
  -webkit-animation: bgLightSlid 4.2s ease-in 2.7s both;
}

.gastFreundAds {
  position: relative;
  top: 55%;
  left: 40%;
  margin: auto;
  width: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.gastFreundAds img {
  display: block;
  width: 100%;
  height: 100%;
  animation: gastFreundeKey 4.7s both;
  -webkit-animation: gastFreundeKey 4.7s both;
}

img.fighterBox {
  position: absolute;
  bottom: -80%;
  left: 0;
  width: 102%;
  animation: fighterRight 5s ease-in 1.8s both;
  -webkit-animation: fighterRight 5s ease-in 1.8s both;
}

/*Jobs Kampagne Box*/
.jobskampagneBox {
  position: relative;
  top: -50px;
  width: 100%;
  height: 100vh;
  display: grid;
  overflow: hidden;
}

/*###########Job Angebot###################*/
.jobDesign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas: "title" "image01" "descript";
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
}

.titleBox {
  display: flex;
  justify-content: center;
  grid-area: title;
}

.image {
  grid-area: image01;
}

.descriptBox {
  position: relative;
  grid-area: descript;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.descriptBox .infoBox {
  width: 80%;
  margin: 40px auto 0 auto;
}
.descriptBox a {
  width: 100%;
}
.descriptBox a .infoButton {
  display: block;
  margin: 20px auto 0 auto;
  width: 56%;
  cursor: pointer;
}

.shopJob {
  animation: shopJob-el-V 5s linear 7s both;
  -webkit-animation: shopJob-el-V 5s linear 7s both;
}

.gastroJob {
  animation: gastroJob-el-V 5s linear 12s both;
  -webkit-animation: gastroJob-el-V 5s linear 12s both;
}

.serviceJob {
  animation: serviceJob-el-V 5s linear 17s both;
  -webkit-animation: serviceJob-el-V 5s linear 17s both;
}

/*shop Job Artkel*/
.shopJob .descriptBox a .infoButton {
  animation: shopJobsSlidButton01 600ms ease-in 1.6s both;
  -webkit-animation: shopJobsSlidButton01 600ms ease-in 1.6s both;
}

/*#######################0#####
###########ende##############*/
/*gastro Job Artkel*/
.gastroJob .descriptBox a .infoButton {
  animation: shopJobsSlidButton02 600ms ease-in 7s both;
  -webkit-animation: shopJobsSlidButton02 600ms ease-in 7s both;
}

/*############################
###########ende##############*/
/*service Job Artkel*/
.serviceJob .descriptBox a .infoButton {
  animation: shopJobsSlidButton03 600ms ease-in 14s both;
  -webkit-animation: shopJobsSlidButton03 600ms ease-in 14s both;
}

/*############################
###########ende##############*/
/*##---------end--------##*/
.jobDesign .titleBox .beiunsBox {
  display: none;
}

.jobDesign .titleBox .beiunsBoxSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 100%;
  height: auto;
}

.jobDesign .image {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
}

/*############Animation Gastfreund###################*/
@keyframes gastFreundeKey {
  0% {
    transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
    -webkit-transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
    -moz-transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
    -ms-transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
    -o-transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
  }
  7.1429% {
    transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
    -webkit-transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
    -moz-transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
    -ms-transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
    -o-transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
  }
  14.2857% {
    transform: translate3d(0px, -30px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  17.8571% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  21.4286% {
    transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  25% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  67.8571% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  78.5714% {
    transform: translate3d(0px, 0px, 0px) scale3d(0.667, 0.667, 1);
    animation-timing-function: linear;
  }
  100% {
    transform: translate3d(0px, 0px, 0px) scale3d(0.001, 0.001, 1);
    animation-timing-function: linear;
  }
}
/*###########################################################
------------------------ende-----------------------------##*/
/*##---------------Background lightblue-----------##*/
@keyframes bgLightSlid {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  52% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -200%, 0);
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
  }
}
/*###############################################
----------------------ende---------------------*/
/*##-------Background lightblue horizontal-----------##*/
@keyframes bgLightSlid-h {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  52% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(240%, 0, 0);
    -webkit-transform: translate3d(240%, 0, 0);
    -moz-transform: translate3d(240%, 0, 0);
    -ms-transform: translate3d(240%, 0, 0);
    -o-transform: translate3d(240%, 0, 0);
  }
}
/*###############################################
----------------------ende---------------------*/
/*##--------------fighterBox------------##*/
@keyframes fighterRight {
  0% {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, -220%, 0);
    -webkit-transform: translate3d(0, -220%, 0);
    -moz-transform: translate3d(0, -220%, 0);
    -ms-transform: translate3d(0, -220%, 0);
    -o-transform: translate3d(0, -220%, 0);
  }
}
/*##--------------fighterBox------------##*/
@keyframes fighterRight-600 {
  0% {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, -230%, 0);
    -webkit-transform: translate3d(0, -230%, 0);
    -moz-transform: translate3d(0, -230%, 0);
    -ms-transform: translate3d(0, -230%, 0);
    -o-transform: translate3d(0, -230%, 0);
  }
}
@keyframes fighterRight-h {
  0% {
    transform: rotate(90deg) translateY(130%);
    -webkit-transform: rotate(90deg) translateY(130%);
    -moz-transform: rotate(90deg) translateY(130%);
    -ms-transform: rotate(90deg) translateY(130%);
    -o-transform: rotate(90deg) translateY(130%);
  }
  100% {
    transform: rotate(90deg) translateY(-110%);
    -webkit-transform: rotate(90deg) translateY(-110%);
    -moz-transform: rotate(90deg) translateY(-110%);
    -ms-transform: rotate(90deg) translateY(-110%);
    -o-transform: rotate(90deg) translateY(-110%);
  }
}
/* Shop Animation */
@keyframes shopJobsSlid {
  0% {
    transform: translate3d(0, 100vh, 0);
    -webkit-transform: translate3d(0, 100vh, 0);
    -moz-transform: translate3d(0, 100vh, 0);
    -ms-transform: translate3d(0, 100vh, 0);
    -o-transform: translate3d(0, 100vh, 0);
  }
  8% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  38% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  46% {
    transform: translate3d(0, -100vh, 0);
    -webkit-transform: translate3d(0, -100vh, 0);
    -moz-transform: translate3d(0, -100vh, 0);
    -ms-transform: translate3d(0, -100vh, 0);
    -o-transform: translate3d(0, -100vh, 0);
  }
  76% {
    transform: translate3d(0, -100vh, 0);
    -webkit-transform: translate3d(0, -100vh, 0);
    -moz-transform: translate3d(0, -100vh, 0);
    -ms-transform: translate3d(0, -100vh, 0);
    -o-transform: translate3d(0, -100vh, 0);
  }
  84% {
    transform: translate3d(0, -100vh, 0);
    -webkit-transform: translate3d(0, -100vh, 0);
    -moz-transform: translate3d(0, -100vh, 0);
    -ms-transform: translate3d(0, -100vh, 0);
    -o-transform: translate3d(0, -100vh, 0);
  }
  96% {
    transform: translate3d(0, -200vh, 0);
    -webkit-transform: translate3d(0, -200vh, 0);
    -moz-transform: translate3d(0, -200vh, 0);
    -ms-transform: translate3d(0, -200vh, 0);
    -o-transform: translate3d(0, -200vh, 0);
  }
  100% {
    transform: translate3d(0, -200vh, 0);
    -webkit-transform: translate3d(0, -200vh, 0);
    -moz-transform: translate3d(0, -200vh, 0);
    -ms-transform: translate3d(0, -200vh, 0);
    -o-transform: translate3d(0, -200vh, 0);
  }
}
@keyframes shopJobsSlidButton01 {
  0% {
    transform: translate3d(0, 500px, 0);
    -webkit-transform: translate3d(0, 500px, 0);
    -moz-transform: translate3d(0, 500px, 0);
    -ms-transform: translate3d(0, 500px, 0);
    -o-transform: translate3d(0, 500px, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
  }
}
@keyframes shopJobsSlidButton02 {
  0% {
    transform: translate3d(0, 500px, 0);
    -webkit-transform: translate3d(0, 500px, 0);
    -moz-transform: translate3d(0, 500px, 0);
    -ms-transform: translate3d(0, 500px, 0);
    -o-transform: translate3d(0, 500px, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
  }
}
@keyframes shopJobsSlidButton03 {
  0% {
    transform: translate3d(0, 500px, 0);
    -webkit-transform: translate3d(0, 500px, 0);
    -moz-transform: translate3d(0, 500px, 0);
    -ms-transform: translate3d(0, 500px, 0);
    -o-transform: translate3d(0, 500px, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
  }
}
/*###############end ####################*/
/*##-----Animation Jobsangebote horizontal--##
#########################################*/
@keyframes shopJob-el-H {
  0% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
  }
  8% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  92% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
  }
}
@keyframes gastroJob-el-H {
  0% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
  }
  8% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  92% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
  }
}
@keyframes serviceJob-el-H {
  0% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
  }
  8% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  92% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
/*##########----ende-----##########
####################################*/
/*##-----Animation Jobsangebote vertikal--##
#########################################*/
@keyframes shopJob-el-V {
  0% {
    transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
  }
  8% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  92% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
  }
}
@keyframes gastroJob-el-V {
  0% {
    transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
  }
  8% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  92% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
  }
}
@keyframes serviceJob-el-V {
  0% {
    transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
  }
  8% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  92% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
/*##########----ende-----##########
####################################*/
@media (orientation: landscape) and (min-width: 1022px) {
  /* Shop Animation */
  @keyframes shopJobsSlid {
    0% {
      transform: translate3d(-100%, 0, 0);
      -webkit-transform: translate3d(-100%, 0, 0);
      -moz-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      -o-transform: translate3d(-100%, 0, 0);
    }
    8% {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
    }
    38% {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
    }
    46% {
      transform: translate3d(200%, 0, 0);
      -webkit-transform: translate3d(200%, 0, 0);
      -moz-transform: translate3d(200%, 0, 0);
      -ms-transform: translate3d(200%, 0, 0);
      -o-transform: translate3d(200%, 0, 0);
    }
    76% {
      transform: translate3d(100%, 0, 0);
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
    }
    84% {
      transform: translate3d(100%, 0, 0);
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
    }
    96% {
      transform: translate3d(200%, 0, 0);
      -webkit-transform: translate3d(200%, 0, 0);
      -moz-transform: translate3d(200%, 0, 0);
      -ms-transform: translate3d(200%, 0, 0);
      -o-transform: translate3d(200%, 0, 0);
    }
    100% {
      transform: translate3d(200%, 0, 0);
      -webkit-transform: translate3d(200%, 0, 0);
      -moz-transform: translate3d(200%, 0, 0);
      -ms-transform: translate3d(200%, 0, 0);
      -o-transform: translate3d(200%, 0, 0);
    }
  }
}
@media screen and (min-width: 320px) {
  .descriptBox {
    margin: -80px 0 0 0;
  }
  /*shop Job Artkel*/
  .shopJob .descriptBox a .infoButton {
    animation: shopJobsSlidButton01 600ms ease-in 8s both;
    -webkit-animation: shopJobsSlidButton01 600ms ease-in 8s both;
  }
  /*#######################0#####
  ###########ende##############*/
  /*gastro Job Artkel*/
  .gastroJob .descriptBox a .infoButton {
    animation: shopJobsSlidButton02 600ms ease-in 13s both;
    -webkit-animation: shopJobsSlidButton02 600ms ease-in 13s both;
  }
  /*############################
  ###########ende##############*/
  /*service Job Artkel*/
  .serviceJob .descriptBox a .infoButton {
    animation: shopJobsSlidButton03 600ms ease-in 18s both;
    -webkit-animation: shopJobsSlidButton03 600ms ease-in 18s both;
  }
  /*############################
  ###########ende##############*/
}
@media screen and (min-height: 600px) {
  /*Backgrounds--*/
  .bgLight {
    animation: bgLightSlid 4.2s ease-in 2.9s both;
    -webkit-animation: bgLightSlid 4.2s ease-in 2.9s both;
  }
  img.fighterBox {
    animation: fighterRight-600 4.5s ease-in 2.4s both;
    -webkit-animation: fighterRight-600 4.5s ease-in 2.4s both;
  }
}
@media screen and (min-width: 768px) {
  .bgLight {
    animation: bgLightSlid 4.2s ease-in 2.8s both;
    -webkit-animation: bgLightSlid 4.2s ease-in 2.8s both;
  }
  .descriptBox {
    margin: 20px 0 0 0;
  }
  .jobskampagneBox {
    top: -180px;
  }
}
@media (orientation: landscape) and (min-width: 480px) {
  /*Backgrounds--*/
  .bgLight {
    animation: bgLightSlid-h 2.5s ease-in 4s both;
    -webkit-animation: bgLightSlid-h 2.5s ease-in 4s both;
  }
  .headerBox img {
    display: block;
    height: 30px;
    padding: 10px 0;
  }
  img.fighterBox {
    top: -15%;
    left: 0;
    bottom: 0;
    width: none;
    height: 150%;
    animation: fighterRight-h 4.5s ease-in 2.4s both;
    -webkit-animation: fighterRight-h 4.5s ease-in 2.4s both;
  }
  .jobskampagneBox {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100vh;
  }
  .jobDesign {
    margin: -10px 0 0 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "image01 title" "image01 descript";
  }
  .jobDesign .image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    object-fit: cover;
    margin-top: 0;
  }
}
@media (orientation: landscape) and (min-width: 567px) {
  /*Backgrounds--*/
  .bgLight {
    animation: bgLightSlid-h 2.5s ease-in 4s both;
    -webkit-animation: bgLightSlid-h 2.5s ease-in 4s both;
  }
  img.fighterBox {
    top: -15%;
    left: 0;
    bottom: 0;
    width: none;
    height: 150%;
    animation: fighterRight-h 4.5s ease-in 2.4s both;
    -webkit-animation: fighterRight-h 4.5s ease-in 2.4s both;
  }
  .headerBox img {
    display: block;
    height: 40px;
    padding: 10px 0;
  }
  .gastFreundAds {
    top: 55%;
    left: 30%;
    width: 60%;
  }
  .jobskampagneBox {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100vh;
  }
  .jobDesign {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "image01 title" "image01 descript";
  }
  .jobDesign .titleBox .beiunsBoxSmall {
    display: none;
  }
  .jobDesign .titleBox .beiunsBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: -80px auto 0 auto;
    width: 70%;
    height: auto;
  }
  .jobDesign .image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    object-fit: cover;
    margin-top: 0;
  }
  .jobDesign .descriptBox {
    position: relative;
    grid-area: descript;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: -140px 0 0 0;
  }
  .jobDesign .descriptBox .infoBox {
    width: 90%;
    margin: 50px auto;
  }
  .jobDesign .descriptBox a .infoButton {
    display: block;
    margin: -40px auto 0 auto;
    width: 220px;
    cursor: pointer;
  }
  .shopJob {
    animation: shopJob-el-H 5s linear 7s both;
    -webkit-animation: shopJob-el-H 5s linear 7s both;
  }
  .gastroJob {
    animation: gastroJob-el-H 5s linear 12s both;
    -webkit-animation: gastroJob-el-H 5s linear 12s both;
  }
  .serviceJob {
    animation: serviceJob-el-H 5s linear 18s both;
    -webkit-animation: serviceJob-el-H 5s linear 18s both;
  }
  /*shop Job Artkel*/
  .shopJob .descriptBox a .infoButton {
    animation: shopJobsSlidButton01 600ms ease-in 8s both;
    -webkit-animation: shopJobsSlidButton01 600ms ease-in 8s both;
  }
  /*#######################0#####
  ###########ende##############*/
  /*gastro Job Artkel*/
  .gastroJob .descriptBox a .infoButton {
    animation: shopJobsSlidButton02 600ms ease-in 13s both;
    -webkit-animation: shopJobsSlidButton02 600ms ease-in 13s both;
  }
  /*############################
  ###########ende##############*/
  /*service Job Artkel*/
  .serviceJob .descriptBox a .infoButton {
    animation: shopJobsSlidButton03 600ms ease-in 18s both;
    -webkit-animation: shopJobsSlidButton03 600ms ease-in 18s both;
  }
  /*############################
  ###########ende##############*/
  /*##---------end--------##*/
}
@media (orientation: landscape) and (min-width: 1022px) {
  /*Background*/
  .bgLight {
    animation: bgLightSlid-h 3.2s ease-in 3.2s both;
    -webkit-animation: bgLightSlid-h 3.2s ease-in 3.2s both;
  }
  img.fighterBox {
    top: -24%;
    height: 160%;
    animation: fighterRight-h 4s ease-in 2.8s both;
    -webkit-animation: fighterRight-h 4s ease-in 2.8s both;
  }
  .headerBox img {
    display: block;
    height: 65px;
    padding: 10px 0;
  }
  .gastFreundAds {
    top: 55%;
    left: 32%;
    width: 60%;
  }
  .shopJob {
    animation: shopJob-el-H 5s linear 7s both;
    -webkit-animation: shopJob-el-H 5s linear 7s both;
  }
  .gastroJob {
    animation: gastroJob-el-H 5s linear 12s both;
    -webkit-animation: gastroJob-el-H 5s linear 12s both;
  }
  .serviceJob {
    animation: serviceJob-el-H 5s linear 18s both;
    -webkit-animation: serviceJob-el-H 5s linear 18s both;
  }
  .jobDesign {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "image01 title" "image01 descript";
  }
  .jobDesign .titleBox .beiunsBoxSmall {
    display: none;
  }
  .jobDesign .titleBox .beiunsBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 100px auto 0 auto;
    width: 70%;
    height: auto;
  }
  .jobDesign .image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70%;
    object-fit: cover;
    margin-top: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
