html,
body {
  margin: 0;
  padding: 0;
  background: #003063;
  width: 100%;
  height: 100%;
}

.werbeWrapper {
  position: relative;
  left: 0;
  right: 0;
  height: 100dvh;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.headerBox {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.headerBox img {
  display: block;
  height: 60px;
  padding: 10px 0;
}

.bgLight {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background: #E9EDF8;
  animation: bgLightSlid 4.2s ease-in 2.6s both;
  -webkit-animation: bgLightSlid 4.2s ease-in 2.6s both;
}

.gastFreundAds {
  position: relative;
  top: 55%;
  left: 40%;
  margin: auto;
  width: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.gastFreundAds img {
  display: block;
  width: 100%;
  height: 100%;
  animation: gastFreundeKey 4.7s both;
  -webkit-animation: gastFreundeKey 4.7s both;
}

img.fighterBox {
  position: absolute;
  bottom: -80%;
  left: 0;
  width: 102%;
  animation: fighterRight 5s ease-in 1.8s both;
  -webkit-animation: fighterRight 5s ease-in 1.8s both;
}

/*Jobs Kampagne Box*/
.jobskampagneBox {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100% 100% 100%;
  grid-area: auto;
  justify-content: flex-end;
  align-items: end;
  animation: shopJobsSlid 12s ease-in 5.5s both;
  -webkit-animation: shopJobsSlid 12s ease-in 5.5s both;
}

/*###########Job Angebot###################*/
.jobDesign {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas: "title" "image01" "descript";
}

.titleBox {
  display: flex;
  justify-content: center;
  grid-area: title;
}

.image {
  grid-area: image01;
}

.descriptBox {
  position: relative;
  grid-area: descript;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.descriptBox .infoBox {
  width: 80%;
  margin: 0 auto;
}
.descriptBox a.infoButton {
  display: block;
  margin: 20px auto 0 auto;
  width: 220px;
  cursor: pointer;
}

.shopJob a .infoButton {
  animation: shopJobsSlidButton 300ms ease-in 7s both;
  -webkit-animation: shopJobsSlidButton 300ms ease-in 7s both;
}

/*############################
###########ende##############*/
/*gastro Job Artkel*/
.gastroJob a .infoButton {
  animation: shopJobsSlidButton02 300ms ease-in 11.8s both;
  -webkit-animation: shopJobsSlidButton02 300ms ease-in 11.8s both;
}

/*############################
###########ende##############*/
/*service Job Artkel*/
.serviceJob a .infoButton {
  animation: shopJobsSlidButton03 300ms ease-in 18s both;
  -webkit-animation: shopJobsSlidButton03 300ms ease-in 18s both;
}

/*############################
###########ende##############*/
/*##---------end--------##*/
.jobDesign .titleBox .beiunsBox {
  display: none;
}

.jobDesign .titleBox .beiunsBoxSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 100%;
  height: auto;
}

.jobDesign .image {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
}

/*############Animation Gastfreund###################*/
@keyframes gastFreundeKey {
  0% {
    transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
    -webkit-transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
    -moz-transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
    -ms-transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
    -o-transform: translate3d(0px, -200%, 0px) scale3d(1, 1, 1);
  }
  7.1429% {
    transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
    -webkit-transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
    -moz-transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
    -ms-transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
    -o-transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1);
  }
  14.2857% {
    transform: translate3d(0px, -30px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  17.8571% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  21.4286% {
    transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  25% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  67.8571% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    animation-timing-function: linear;
  }
  78.5714% {
    transform: translate3d(0px, 0px, 0px) scale3d(0.667, 0.667, 1);
    animation-timing-function: linear;
  }
  100% {
    transform: translate3d(0px, 0px, 0px) scale3d(0.001, 0.001, 1);
    animation-timing-function: linear;
  }
}
/*###########################################################
------------------------ende-----------------------------##*/
/*##---------------Background lightblue-----------##*/
@keyframes bgLightSlid {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  52% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -200%, 0);
    -webkit-transform: translate3d(0, -200%, 0);
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -o-transform: translate3d(0, -200%, 0);
  }
}
/*###############################################
----------------------ende---------------------*/
/*##--------------fighterBox------------##*/
@keyframes fighterRight {
  0% {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, -220%, 0);
    -webkit-transform: translate3d(0, -220%, 0);
    -moz-transform: translate3d(0, -220%, 0);
    -ms-transform: translate3d(0, -220%, 0);
    -o-transform: translate3d(0, -220%, 0);
  }
}
/* Shop Animation */
@keyframes shopJobsSlid {
  0% {
    transform: translate3d(0, 100vh, 0);
    -webkit-transform: translate3d(0, 100vh, 0);
    -moz-transform: translate3d(0, 100vh, 0);
    -ms-transform: translate3d(0, 100vh, 0);
    -o-transform: translate3d(0, 100vh, 0);
  }
  8% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  38% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  46% {
    transform: translate3d(0, -100vh, 0);
    -webkit-transform: translate3d(0, -100vh, 0);
    -moz-transform: translate3d(0, -100vh, 0);
    -ms-transform: translate3d(0, -100vh, 0);
    -o-transform: translate3d(0, -100vh, 0);
  }
  86% {
    transform: translate3d(0, -100vh, 0);
    -webkit-transform: translate3d(0, -100vh, 0);
    -moz-transform: translate3d(0, -100vh, 0);
    -ms-transform: translate3d(0, -100vh, 0);
    -o-transform: translate3d(0, -100vh, 0);
  }
  96% {
    transform: translate3d(0, -100vh, 0);
    -webkit-transform: translate3d(0, -100vh, 0);
    -moz-transform: translate3d(0, -100vh, 0);
    -ms-transform: translate3d(0, -100vh, 0);
    -o-transform: translate3d(0, -100vh, 0);
  }
  100% {
    transform: translate3d(0, -200vh, 0);
    -webkit-transform: translate3d(0, -200vh, 0);
    -moz-transform: translate3d(0, -200vh, 0);
    -ms-transform: translate3d(0, -200vh, 0);
    -o-transform: translate3d(0, -200vh, 0);
  }
}
@keyframes shopJobsSlidButton {
  0% {
    transform: translate3d(0, 500px, 0);
    -webkit-transform: translate3d(0, 500px, 0);
    -moz-transform: translate3d(0, 500px, 0);
    -ms-transform: translate3d(0, 500px, 0);
    -o-transform: translate3d(0, 500px, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
  }
}
@keyframes shopJobsSlidButton02 {
  0% {
    transform: translate3d(0, 500px, 0);
    -webkit-transform: translate3d(0, 500px, 0);
    -moz-transform: translate3d(0, 500px, 0);
    -ms-transform: translate3d(0, 500px, 0);
    -o-transform: translate3d(0, 500px, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
  }
}
@keyframes shopJobsSlidButton03 {
  0% {
    transform: translate3d(0, 500px, 0);
    -webkit-transform: translate3d(0, 500px, 0);
    -moz-transform: translate3d(0, 500px, 0);
    -ms-transform: translate3d(0, 500px, 0);
    -o-transform: translate3d(0, 500px, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
  }
}
/*###############end ####################*/
@media screen and (min-width: 320px) {
  .descriptBox {
    margin: -80px 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  .descriptBox {
    margin: 20px 0 0 0;
  }
}
@media (orientation: landscape) and (min-width: 567px) {
  /*Backgrounds--*/
  .bgLight {
    animation: bgLightSlid 2.4s ease-in 4s both;
    -webkit-animation: bgLightSlid 2.4s ease-in 4s both;
  }
  img.fighterBox {
    animation: fighterRight 7s ease-in 2.4s both;
    -webkit-animation: fighterRight 7s ease-in 2.4s both;
  }
  .headerBox img {
    display: block;
    height: 40px;
    padding: 10px 0;
  }
  .gastFreundAds {
    top: 55%;
    left: 30%;
    width: 60%;
  }
  .jobDesign {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "image01 title" "image01 descript";
  }
  .jobDesign .titleBox .beiunsBoxSmall {
    display: none;
  }
  .jobDesign .titleBox .beiunsBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: -80px auto 0 auto;
    width: 70%;
    height: auto;
  }
  .jobDesign .image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    object-fit: cover;
    margin-top: -10%;
  }
  .jobDesign .descriptBox {
    position: relative;
    grid-area: descript;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: -140px 0 0 0;
  }
  .jobDesign .descriptBox .infoBox {
    width: 90%;
    margin: 50px auto;
  }
  .jobDesign .descriptBox a .infoButton {
    display: block;
    margin: -40px auto 0 auto;
    width: 220px;
    cursor: pointer;
  }
}
@media (orientation: landscape) and (min-width: 1022px) {
  /*Background*/
  .bgLight {
    animation: bgLightSlid 3.2s ease-in 3.2s both;
    -webkit-animation: bgLightSlid 3.2s ease-in 3.2s both;
  }
  img.fighterBox {
    animation: fighterRight 7s ease-in 1.8s both;
    -webkit-animation: fighterRight 7s ease-in 1.8s both;
  }
  .headerBox img {
    display: block;
    height: 65px;
    padding: 10px 0;
  }
  .gastFreundAds {
    top: 55%;
    left: 32%;
    width: 60%;
  }
  .jobDesign {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "image01 title" "image01 descript";
  }
  .jobDesign .titleBox .beiunsBoxSmall {
    display: none;
  }
  .jobDesign .titleBox .beiunsBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 100px auto 0 auto;
    width: 70%;
    height: auto;
  }
  .jobDesign .image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70%;
    object-fit: cover;
    margin-top: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
